body {
    margin: 0;
  }
  
  #over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .img-fluid {
    max-width: 50%;
    height: auto;
  }

.nav-bk8{
 
background: #5f2c82; 
 
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); 
 
background: linear-gradient(to right, #49a09d, #5f2c82);
 
}
