
body {
    font-family: Arial, sans-serif;
}

.number {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.yellow-number {
    background-color: rgba(54, 15, 183, 0.252);
}

#dropzone {
    width: 780px;
    height: 380px;
    background-color: transparent;
    border: 1px solid black;
    padding: 20px;
    background-color: #999;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/17/46/chalkboard-152414_1280.png");
}

.number {
    display: inline-block;
    border: 1px solid rgb(13, 141, 163);
    padding: 1rem 1rem;
    vertical-align: middle;
    font-size: 4rem;
    margin: 1rem;
    padding: 1rem 1rem;	
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.gradient-button {
    transition: all 5s;
    background-image: linear-gradient(to left, #f77524, #f7f024);
}

.gradient-button:disabled {
    background: linear-gradient(to left, #d3d3d3, #a9a9a9); /* Variante de gris */
    cursor: not-allowed;
}

.gradient2-button {
    transition: all 5s;
    background-image: linear-gradient(to left, #e9f724, #24f7f4);
}

button {
    transition: all 5s;
    font-size: 4rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: #29612a;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

label {
    font-size: 20px; /* Vous pouvez ajuster la taille selon vos besoins */
    color: #f77524;
}

.button-container {
    display: flex;
    justify-content: center; /* ou toute autre valeur appropriée */
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    /* margin: 0 15px; */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #007bff;
    border-radius: 5px;
}
nav a:hover {
    background-color: #0056b3;
}

@keyframes increaseSize {
    from {
        font-size: 16px;
    }
    to {
        font-size: 48px; /* Ajuste cette taille selon tes besoins */
    }
}

.notification2 {
    display: inline-block; /* Assure que l'animation fonctionne correctement */
    animation: increaseSize 5s infinite;
    justify-content: center; /* ou toute autre valeur appropriée */
    display: flex;
}
