body {
    margin: 0;
  }
  
  #over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .img-fluid {
    max-width: 50%;
    height: auto;
  }
  
  .text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.nav-bk8{
 background: #5f2c82; 
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); 
background: linear-gradient(to right, #49a09d, #5f2c82); 
border-radius: 0px;
}

.nav-bk9{
background: #5f2c82; 
background: -webkit-linear-gradient(to right, #49a09d, #49a09d); 
background: linear-gradient(to right, #49a09d, #49a09d); 
border-radius: 0px;
}

.btn {
  flex: 1 1 auto;
/*   margin: 10px;
  padding: 30px; */
  text-align: center;
  /* text-transform: uppercase; */
  transition: 11.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;  
 }

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}


#page-container {
  position: relative;
  /* min-height: 100vh; */
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#reversedRange {
  direction: ltr; 
}

#accordionFiltres {
  display:none;
}

#descriptionEngl {
  display:none;
}

#btn_close01 {
  text-align: right;
}

.modal-title {
  text-align: center;
}

.modal-body {
  text-align: center;
}

.drag-card:hover {
  cursor: pointer;
}

.drag-box:hover {
  cursor: pointer;
}